.row
  .large-8.columns
    .panel{ :style => "margin-top: 10px;"}
      %p
        If you're a member of an existing group in our system, 
        click the activate link in the invitation email from your organization's admin.
        You should not sign up for a new organizational account.
    .panel
      %h3
        Sign up
        %small New Organization
        %hr/
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email, required: true, autofocus: true
            = f.input :password, required: true
            = f.input :password_confirmation, required: true
            = simple_fields_for( :tenant ) do |w|
              = w.input :name
          .form-actions
            = f.button :submit, "Sign up"
    = render "devise/shared/links"