.row
  .col-lg-12
    %h1.page-header
      Manage Facilities

.row
  .col-lg-12
    = link_to new_facility_path do
      .btn.btn-default
        Create New
        %i.fa.fa-fw.fa-plus
    %hr
    .table-responsive
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Name
            %th
            %th
            %th
      
        %tbody
          - @facilities.each do |facility|
            %tr
              %td= facility.name
              %td= link_to 'Show', facility
              %td= link_to 'Edit', edit_facility_path(facility)
              %td= link_to 'Destroy', facility, :method => :delete, :data => { :confirm => 'Are you sure?' }