- provide(:title, "#{@facility.name}")

.row
  .col-lg-12
    %h1.page-header
      = @facility.name

    %p#notice= notice

  .row
    .col-md-12
      .panel.with-nav-tabs.panel-default
        .panel-heading
          %ul.nav.nav-tabs
            %li
              %a{"data-toggle" => "tab", :href => "#tab1"}
                = "Submitted #{ @facility.suggestions.count }"
            %li
              %a{"data-toggle" => "tab", :href => "#tab2"}
                = "Reviewed #{ @facility.suggestions.reviewed.count }"
            %li
              %a{"data-toggle" => "tab", :href => "#tab3"}
                = "Completed #{ @facility.suggestions.completed.count }"
            %li
              %a{"data-toggle" => "tab", :href => "#tab4"}
                = "Verified #{ @facility.suggestions.verified.count }"
            %li
              %a{"data-toggle" => "tab", :href => "#tab5"}
                = "Funded #{ @facility.suggestions.funded.count }"
        .panel-body
          .tab-content
            #tab1.tab-pane.fade.in
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Number
                      %th
                  %tbody
                    - @facility.suggestions.each do |suggestion|
                      %tr
                        %td= suggestion.id
                        %td
                          = link_to suggestion_path(suggestion), class: 'btn btn-default btn-sm' do
                            View
                          .btn-group
                            - unless suggestion.hold?
                              = link_to hold_status_suggestion_path(suggestion), :method => :post, class: 'btn btn-primary btn-sm' do
                                Place on Hold
                            - else
                              .btn.btn-primary.btn-sm.disabled
                                On Hold
                            - unless suggestion.revision?
                              = link_to revise_status_suggestion_path(suggestion), :method => :post, class: 'btn btn-primary btn-sm' do
                                Mark for Revision
                            - else
                              .btn.btn-primary.btn-sm.disabled
                                Awaiting Revision
                          .btn-group
                            - unless suggestion.hold? || suggestion.revision?
                              = link_to promote_to_reviewed_suggestion_path(suggestion), :method => :post, class: 'btn btn-default btn-sm' do
                                Review
                                %i.fa.fa-fw.fa-arrow-right
                            -else
                              .btn.btn-default.btn-sm.disabled
                                Awaiting Resubmission
                            = link_to suggestion, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' } do
                              %i.fa.fa-fw.fa-trash
            #tab2.tab-pane.fade.in
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Name
                      %th
                  %tbody
                    - @facility.suggestions.reviewed.each do |suggestion|
                      %tr
                        %td= suggestion.id
                        %td
                          = link_to suggestion_path(suggestion), class: 'btn btn-default btn-sm' do
                            View
                          .btn-group
                            = link_to promote_to_completed_suggestion_path(suggestion), :method => :post, class: 'btn btn-default btn-sm' do
                              Complete 
                              %i.fa.fa-fw.fa-arrow-right
                            = link_to suggestion, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' } do
                              %i.fa.fa-fw.fa-trash
            #tab3.tab-pane.fade.in
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Name
                      %th
                  %tbody
                    - @facility.suggestions.completed.each do |suggestion|
                      %tr
                        %td= suggestion.id
                        %td
                          = link_to suggestion_path(suggestion), class: 'btn btn-default btn-sm' do
                            View
                          .btn-group
                            = link_to promote_to_verified_suggestion_path(suggestion), :method => :post, class: 'btn btn-default btn-sm' do
                              Verify 
                              %i.fa.fa-fw.fa-arrow-right
                            = link_to suggestion, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' } do
                              %i.fa.fa-fw.fa-trash
            #tab4.tab-pane.fade.in
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Name
                      %th
                  %tbody
                    - @facility.suggestions.verified.each do |suggestion|
                      %tr
                        %td= suggestion.id
                        %td
                          = link_to suggestion_path(suggestion), class: 'btn btn-default btn-sm' do
                            View
                          .btn-group
                            = link_to promote_to_funded_suggestion_path(suggestion), :method => :post, class: 'btn btn-default btn-sm' do
                              Fund 
                              %i.fa.fa-fw.fa-arrow-right
                            = link_to suggestion, :method => :delete, class: 'btn btn-danger btn-sm', :data => { :confirm => 'Are you sure?' } do
                              %i.fa.fa-fw.fa-trash
            #tab5.tab-pane.fade.in
              .table-responsive
                %table.table.table-bordered
                  %thead
                    %tr
                      %th Name
                  %tbody
                    - @facility.suggestions.funded.each do |suggestion|
                      %tr
                        %td= suggestion.id
