%nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path do
      .navbar-brand 
        KaizenStorm
  %ul.nav.navbar-right.top-nav
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-user
        = current_user.username
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to edit_user_registration_path do
            %i.fa.fa-fw.fa-gear
            Settings
        %li.divider
        %li
          = link_to destroy_user_session_path, method: :delete do
            %i.fa.fa-fw.fa-power-off
            Log Out
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav.side-nav
      %li
        %a{"data-target" => "#facilities", "data-toggle" => "collapse", :href => "javascript:;"}
          %i.fa.fa-fw.fa-building-o
          Facilities
          %i.fa.fa-fw.fa-caret-down
        %ul#facilities.collapse
          - Facility.find_each do |facility|
            %li
              = link_to facility do
                = facility.name
          %li
            = link_to facilities_path do
              Manage
              %i.fa.fa-fw.fa-plus
      %li
        = link_to departments_path do
          %i.fa.fa-fw.fa-cube
          Departments
      %li
        = link_to '#' do
          %i.fa.fa-fw.fa-leaf
          Themes
      %li
        = link_to users_path do
          %i.fa.fa-fw.fa-user
          Users
