- # Plan grid from http://bootsnipp.com/snippets/featured/plans-and-pricing
  %h1 Plans
  #plan-grid.row
    - @plans.each do |plan|
      %div{:class => "col-xs-12 col-md-#{12 / @plans.size}"}
        .panel.panel-primary
          - if plan == @plans[1]
            .cnrflash
              .cnrflash-inner
                %span.cnrflash-label
                  MOST
                  %br/
                  POPULAR
          .panel-heading
            %h3.panel-title= plan.name
          .panel-body
            .the-price
              %h1
                = number_to_currency(plan.amount)
                %span.subscript /mo
              - if plan.amount > 0
                %small 1 month FREE trial
              - else
                %small FREE forever :)
            %table.table
              %tr
                %td
                  = plan.user_limit.nil? ? 'Unlimited Users' : pluralize(plan.user_limit, 'User')
          .panel-footer
            = link_to("Sign Up", new_account_url(:plan => plan, :discount => params[:discount]), :class => "btn btn-success")
            = "1 month FREE trial" if plan.amount > 0
